<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite">
    <test name="WebDriverTests" verbose="1" preserve-order="true" >
        <classes>
            <class name="Runner.TestRunner">
                <methods>
                    <include name="feature"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>